@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/*
* MIXINS
*/
/*
* BASE
*/
html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #878787;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 400px) {
    html, body {
      font-size: 18px; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 20px; } }

h1, h2, h3 {
  margin-bottom: 0.25em;
  line-height: 1.25;
  padding-bottom: 10px;
  margin-bottom: 0; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.4rem; }

p, ul {
  margin-bottom: 0.25em; }

strong {
  font-weight: bold; }

/*
* MODULES
*/
.block-mw {
  width: 80%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1080px;
  /* @if $length {
      max-width: $length;
  } @else {
      max-width: $mw;
  } */ }

.block-lw {
  width: 80%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1080px;
  /* @if $length {
      max-width: $length;
  } @else {
      max-width: $mw;
  } */
  max-width: 626px; }

a {
  color: #2ea3f2;
  text-decoration: none;
  transition: color 200ms ease-out; }
  a:hover, a:active, a:focus {
    color: #0c71c3; }

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 1em;
  border-width: 0;
  border-radius: 81px;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: #66ccfb;
  position: relative; }
  .button:after {
    position: relative;
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    line-height: 1em;
    text-transform: none;
    content: "→";
    transition: all 200ms ease-out; }
  .button:hover, .button:focus {
    color: white; }
    .button:hover:after, .button:focus:after {
      margin-left: 0.3em;
      opacity: 1; }

.text-link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 130ms color ease-out; }

/*
* HOMEPAGE
*/
#section-intro {
  background: url("../images/hero.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 60px;
  margin-top: 63px;
  height: 85vh; }

.site-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5em;
  text-align: center;
  margin: 0;
  padding-bottom: 10px; }

.site-description {
  line-height: 1.3em;
  font-size: 20px;
  font-weight: 500px; }

.site-title, .site-description {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.55) 1.6px 1.6px 1.6px;
  text-align: center; }

.home-section {
  padding: 120px 0; }

.home-section__title {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  color: #686868;
  font-size: 40px;
  font-weight: 500; }

.download-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px; }
  @media screen and (min-width: 980px) {
    .download-app {
      flex-direction: row;
      justify-content: space-between; } }

.download-app__link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .download-app__link:first-of-type {
    margin-bottom: 20px; }
  @media screen and (min-width: 980px) {
    .download-app__link {
      flex: 1; }
      .download-app__link:first-of-type {
        margin-bottom: 0; } }

.download-app__img {
  display: block;
  max-width: 140px;
  width: 100%; }
  @media screen and (min-width: 980px) {
    .download-app__img {
      max-width: 175px; } }

#press {
  background-color: #66ccfb;
  display: none;
  padding: 15px 0; }
  @media screen and (min-width: 980px) {
    #press {
      display: block; } }

.press__list {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.press__list__item {
  list-style: none; }

.press__list__img {
  width: 100%;
  max-width: 160px; }

#le-velo h1 {
  font-size: 35px;
  line-height: 1.5em;
  color: #686868;
  margin-bottom: 40px;
  padding-bottom: 0; }
#le-velo p {
  line-height: 2.2em;
  font-size: 16px;
  font-weight: 400; }

.le-velo__blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media screen and (min-width: 980px) {
    .le-velo__blocks {
      flex-direction: row;
      max-width: 1080px; } }

.le-velo__block {
  flex: 1; }
  @media screen and (min-width: 980px) {
    .le-velo__block:first-of-type {
      margin-right: 20px;
      max-width: 362px; } }

.le-velo__how {
  margin-top: 40px; }

.le-velo__img {
  width: 100%; }
  @media screen and (min-width: 980px) {
    .le-velo__img {
      width: 90%; } }

.comment__title {
  margin-bottom: 40px;
  text-align: center; }

.comment__blocks {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 480px) {
    .comment__blocks {
      justify-content: space-between; } }

.comment__block {
  width: 100%; }
  @media screen and (min-width: 480px) {
    .comment__block {
      width: 40%; } }
  @media screen and (min-width: 980px) {
    .comment__block {
      width: calc(25% - 50px); } }

.comment__block__img-wrapper {
  display: block;
  border-radius: 200px 200px 200px 200px;
  overflow: hidden;
  box-shadow: 0px 0px 80px 0px rgba(67, 96, 124, 0.1);
  margin: 40px auto 20px auto;
  max-width: 268px;
  width: 70%; }

.comment__block__img {
  width: 100%; }

.comment__block__title {
  font-size: 20px; }

.comment__block__txt {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  color: #878787;
  font-weight: 500;
  line-height: 1.8em; }

#zone {
  background-color: #f2f6f9;
  padding-bottom: 0; }
  #zone h1 {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.5em;
    color: #686868;
    margin-bottom: 40px;
    padding-bottom: 0; }
  #zone p {
    line-height: 2.2em;
    font-size: 16px;
    font-weight: 400; }

.zone__blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media screen and (min-width: 980px) {
    .zone__blocks {
      flex-direction: row;
      max-width: 1080px; } }

.zone__block {
  flex: 1; }
  .zone__block:first-of-type {
    margin-bottom: 80px; }
  @media screen and (min-width: 980px) {
    .zone__block {
      width: calc(50% - 40px); }
      .zone__block:first-of-type {
        margin-bottom: 0; } }

.zone__img-wrapper {
  display: block;
  max-width: 318px;
  width: 100%;
  line-height: 0;
  box-shadow: -40px 40px 120px -24px rgba(67, 96, 124, 0.5); }

.zone__img {
  width: 100%; }

.zone-numbers {
  background-image: linear-gradient(180deg, rgba(33, 122, 206, 0.7) 0%, rgba(102, 204, 251, 0.63) 100%), url(../images/alex.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 80px;
  color: white;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 980px) {
    .zone-numbers {
      flex-direction: row;
      justify-content: center; } }

#zone .zone-numbers__block__num {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 93px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1; }

#zone .zone-numbers__block__txt {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center; }

.prix__title {
  margin-bottom: 40px; }

.prix__block {
  padding: 40px 0;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500; }
  .prix__block:first-of-type {
    border-top: 1px solid #e0e7ed;
    border-bottom: 1px solid #e0e7ed; }

.prix__subtitle {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 500;
  color: #686868; }

.prix__description {
  line-height: 2.2em;
  font-size: 15px; }

.prix__price {
  font-size: 30px;
  margin-top: 40px;
  color: #686868; }

.prix__ask-pack {
  margin-top: 40px; }
  .prix__ask-pack a {
    font-family: "Open Sans",Arial,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #66ccfb; }

/*
* HEADER
*/
#site-header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background: white; }

.site-header__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  width: 80%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1080px;
  /* @if $length {
      max-width: $length;
  } @else {
      max-width: $mw;
  } */
  padding-top: 10px;
  padding-bottom: 10px; }
  @media screen and (min-width: 980px) {
    .site-header__container {
      padding-right: 0;
      padding-left: 0; } }

.site-logo-link {
  line-height: 0; }

.site-logo {
  height: 43px; }
  @media screen and (min-width: 980px) {
    .site-logo {
      height: 57px; } }

@media screen and (min-width: 980px) {
  #site-nav {
    padding-top: 9px; } }

#site-nav__toggle {
  display: block;
  margin-left: auto; }
  @media screen and (min-width: 980px) {
    #site-nav__toggle {
      display: none; } }

#site-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
  transform-origin: top center;
  transform: scaleY(0);
  height: 0;
  position: absolute; }
  .is-active #site-nav__list {
    position: absolute;
    top: 43px;
    left: 10%;
    right: 10%;
    width: calc(80% - 40px);
    height: auto;
    background-color: white;
    border-top: 2px solid #66ccfb;
    padding-top: 20px;
    z-index: 10;
    transition: transform 200ms 50ms ease-out, height 200ms ease-out;
    transform: scaleY(1); }
  @media screen and (min-width: 980px) {
    .is-active #site-nav__list, #site-nav__list {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      transform: scaleY(1);
      transition: none;
      justify-content: flex-start;
      position: static;
      width: 100%;
      border: none;
      padding-top: 0; }
    .is-active #site-nav__list {
      margin: 0;
      width: auto; } }

.site-nav__list__item {
  list-style: none;
  line-height: 1;
  padding: 0 10px;
  display: block; }
  @media screen and (min-width: 980px) {
    .site-nav__list__item {
      padding: 0;
      margin-right: 20px; }
      .site-nav__list__item:last-child {
        margin-right: 0; } }

.site-nav__link {
  width: 100%;
  display: block;
  font-size: 14px;
  padding: 15px 5%;
  letter-spacing: 1px;
  color: #66ccfb;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  transition: background-color 200ms ease-out, opacity 200ms ease-out; }
  .site-nav__link:hover {
    opacity: .7;
    background-color: rgba(0, 0, 0, 0.03);
    color: #66ccfb; }
  @media screen and (min-width: 980px) {
    .site-nav__link {
      font-weight: 600;
      font-size: 15px;
      border-bottom: none; }
      .site-nav__link:hover {
        background-color: white; } }
  .site-nav__link--flag {
    width: 18px; }

/*
* FOOTER
*/
.site-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #66ccfb;
  color: white;
  text-align: center;
  font-size: 16px; }
  .site-footer a {
    color: white; }

.site-footer__blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 980px) {
    .site-footer__blocks {
      flex-direction: row;
      align-items: flex-start; } }

.site-footer__block {
  flex: 1;
  margin-bottom: 20px; }
  .site-footer__block:last-of-type {
    margin-bottom: 0; }
  @media screen and (min-width: 980px) {
    .site-footer__block {
      margin-bottom: 0; } }

.site-footer__subtitle {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.site-footer__list__item {
  list-style: none;
  margin-bottom: 10px; }
  .site-footer__list__item:last-child {
    margin-bottom: 0; }

.site-footer__link:hover, .site-footer__link:active, .site-footer__link:focus {
  text-decoration: underline; }

.site-footer__copy {
  margin-top: 40px;
  font-size: 14px; }
