<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
	  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZMK335');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title}}</title>
    <meta name="description" content='{{ .Site.Params.description }}'>
    <link rel="alternate" hreflang="fr" href="{{.Site.BaseURL}}" />
    <link rel="alternate" hreflang="nl" href="{{.Site.BaseURL}}nl" />
    <link rel="alternate" hreflang="en" href="{{.Site.BaseURL}}en" />
    <meta property="og:type" content="website">
	  <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:title" content="{{ .Site.Title}} ">
    <meta property="og:description" content='{{ .Site.Params.description }}'>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
  </head>
  <body id="top"><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZMK335"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '2869464069944684',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : '
v2.11
' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://connect.facebook.net/fr_FR/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); </script>
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
  </body>
</html>
