<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>{{ .Site.Title}}</title>
    <meta name="description" content='{{ .Site.Params.description }}'>
    <meta property="og:type" content="website">
	  <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:title" content="{{ .Site.Title}} ">
    <meta property="og:description" content='{{ .Site.Params.description }}'>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
  </head>
  <body id="top">
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
  </body>
</html>
