{{ $main := resources.Get "js/main.js" }}
{{ $defaultJS := slice $main | resources.Concat "js/global.js" }}
{{ $globalJS := $defaultJS | resources.Minify | resources.Fingerprint }}
<!--<script src="{{ $globalJS.Permalink }}"></script>-->
<script>
    // site-navigation on mobile
    var menuToggle=document.querySelector("#site-nav__toggle"),siteHeader=document.querySelector("#site-header"),menuLinks=document.querySelectorAll(".site-nav__link");function closeMenu(){console.log("closemenu"),menuToggle.setAttribute("aria-expanded","false"),siteHeader.classList.remove("is-active")}console.log("ok"),menuToggle.addEventListener("click",function(){siteHeader.classList.contains("is-active")?closeMenu():(siteHeader.classList.add("is-active"),this.setAttribute("aria-expanded","true"))}),menuLinks.forEach(function(e){e.addEventListener("click",closeMenu)});
</script>
<script>
    // detect webp support
    async function supportsWebp(){if(!self.createImageBitmap)return!1;const e=await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then(e=>e.blob());return createImageBitmap(e).then(()=>!0,()=>!1)}(async()=>{await supportsWebp()&&document.body.classList.add("webp")})();
</script>