/*
* HOMEPAGE
*/

#download {
    background: url('../images/hero-small.jpg') center center no-repeat;
    background-size:cover;
    padding-top:60px;
    margin-top:63px;
    height:85vh;

    .block-mw {
        padding:0;
    }

    .webp & {
        background: url('../images/hero-small.webp') center center no-repeat;
        background-size:cover;
    }

    @media screen and (min-width:768px) {
        background: url('../images/hero.jpg') center center no-repeat;
        background-size:cover;

        .webp & {
            background: url('../images/hero.webp') center center no-repeat;
            background-size:cover;
        }
    }

    @media screen and (min-width:$mq-large) {
        margin-top:77px;
    }
}
.site-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5em;
    text-align: center;
    margin:0;
    padding-bottom:$su/2;

    @media screen and (min-width:400px) {
        font-size:37px;
    }

    @media screen and (min-width:768px) {
        font-size:50px;
    }
}

.site-description {
    line-height:1.3em;
    font-size:20px;
    font-weight:500;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.site-title, .site-description {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.55) 1.6px 1.6px 1.6px;
    text-align: center;
}

.home-section {
    padding:$su*6 0;
}

.home-section__title {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color:$text-color-dark;
    font-size:40px;
    font-weight:500;
}

.download-app {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin-top:$su*2;

    @media screen and (min-width:$mq-large) {
        flex-direction:row;
        justify-content: space-between;
    }
}

.download-app__link {
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:flex-start;

    &:first-of-type {
        margin-bottom:$su;
    }

    @media screen and (min-width:$mq-large) {
        flex:1;

        &:first-of-type {
            margin-bottom:0;
        }
    }
}

.download-app__img {
    display: block;
    max-width:140px;
    width:100%;

    @media screen and (min-width:$mq-large) {
        max-width:175px;
    }
}

#press {
    background-color:$light-blue;
    display:none;
    padding:15px 0;

    @media screen and (min-width:$mq-large) {
        display:block;
    }
}

.press__list {
    max-width:1130px;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.press__list__item {
    list-style:none;
}

.press__list__img {
    width:100%;
    max-width:160px;
}

#le-velo {

    h1 {
        font-size: 35px;
        line-height:1.5em;
        color:$text-color-dark;
        margin-bottom:$su*2;
        padding-bottom:0;
    }

    p {
        line-height:2.2em;
        font-size: 16px;
        font-weight:400;
    }
}

.le-velo__blocks {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;

    @media screen and (min-width:$mq-large) {
        flex-direction:row;
        max-width:$mq-extra-large;
    }
}

.le-velo__block {
    flex:1;

    &:first-of-type {
        margin-bottom:$su*2;
    }

    @media screen and (min-width:$mq-large) {
        
        &:first-of-type {
            margin-right:$su;
            margin-bottom:0;
            max-width:520px;
        }
    }
}

.le-velo__how {
    margin-top:$su*2;
}

.le-velo__img {
    width:100%;

    @media screen and (min-width:$mq-large) {
        width:90%;
    }
    
}

#comment {
    max-width:$mq-extra-large;
}

.comment__title {
    margin-bottom:$su*2;
    text-align: center;
}

.comment__blocks {
    display:flex;
    flex-wrap:wrap;

    @media screen and (min-width:$mq-small) {
        justify-content: space-between;
    }
}

.comment__block {
    width:100%;

    @media screen and (min-width:$mq-small) {
        width:40%;
    }
    
    @media screen and (min-width:$mq-large) {
        width:calc(25% - 50px);
    }
}

.comment__block__img-wrapper {
    display: block;
    border-radius: 200px 200px 200px 200px;
    overflow: hidden;
    box-shadow: 0px 0px 80px 0px rgba(67,96,124,0.1);
    margin:$su*2 auto $su auto;
    max-width:268px;
    width:70%;
}

.comment__block__img {
    width:100%;
}

.comment__block__title {
    font-size:20px;
}

.comment__block__txt {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size:15px;
    color:$text-color;
    font-weight:500;
    line-height: 1.8em;
}

#zone {
    background-color: #f2f6f9;
    padding-bottom:0;

    h1 {
        font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 500;
        font-size: 35px;
        line-height:1.5em;
        color:$text-color-dark;
        margin-bottom:$su*2;
        padding-bottom:0;
    }

    p {
        line-height:2.2em;
        font-size: 16px;
        font-weight:400;
    }
}

.zone__blocks {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;

    @media screen and (min-width:$mq-large) {
        flex-direction:row;
        max-width:$mq-extra-large;
    }
}

.zone__block {
    flex:1;

    &:first-of-type {
        margin-bottom:$su*4;
    }

    @media screen and (min-width:$mq-large) {
        width:calc(50% - 40px);

        &:first-of-type {
            margin-bottom:0
        }
    }
}

.zone__img-wrapper {
    display:block;
    max-width:460px;
    width:90%;
    line-height:0;
    box-shadow: -40px 40px 120px -24px rgba(67,96,124,0.5);
}

.zone__img {   
    width:100%;
}

.zone-numbers {
    background-image: linear-gradient(180deg,rgba(33,122,206,0.7) 0%,rgba(102,204,251,0.63) 100%),url(../images/alex.jpg);
    background-position:center;
    background-size: cover;
    margin-top:$su*6;
    color:white;
    padding:$su*2 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    .webp & {
        background-image: linear-gradient(180deg,rgba(33,122,206,0.7) 0%,rgba(102,204,251,0.63) 100%),url(../images/alex.webp);
    }

    @media screen and (min-width: $mq-large) {
        flex-direction: row;
        justify-content: center;
    }
}

.zone-numbers__block {

    @media screen and (min-width: $mq-large) {
        width:25%;
        max-width:460px;
    }
}

#zone .zone-numbers__block__num {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size:93px;
    font-weight:500;
    margin-top:$su*2;
    margin-bottom:$su/2;
    text-align: center;
    line-height:1;
    
    @media screen and (min-width: $mq-large) {
        margin: $su*4 $su*2 0 $su*2;
    }
}

#zone .zone-numbers__block__txt {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size:14px;
    font-weight:500;
    text-align: center;
    
    @media screen and (min-width: $mq-large) {
        margin-bottom: $su*4;
    }
}

.prix__title {
    margin-bottom:$su*2;
}

.prix__block {
    padding:$su*2 0;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight:500;

    &:first-of-type {
        border-top:1px solid #e0e7ed;
        border-bottom:1px solid #e0e7ed;
    }

    @media screen and (min-width:$mq-large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.prix__subtitle {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 500;
    color:$text-color-dark;

    @media screen and (min-width:$mq-large) {
        grid-column: 1 / 2;
    }
}

.prix__description {
    line-height: 2.2em;
    font-size:15px;

    @media screen and (min-width:$mq-large) {
        grid-column: 1 / 2;
    }
}

.prix__price {
    font-size:30px;
    margin-top:$su*2;
    color:$text-color-dark;

    @media screen and (min-width:$mq-large) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top:0;
        justify-self: center;
    }
}

.prix__ask-pack {
    margin-top:$su*2;

    a {
        font-family: "open sans", Arial, sans-serif;
        text-transform:uppercase;
        font-size: 14px;
        font-weight: 700;
        color:#66ccfb;
    }

    @media screen and (min-width:$mq-large) {
        grid-column: 2 / 3;
        margin-top:$su*2;
        justify-self: center;
    }
}

#contact {
    padding-top:0;
}

.contact-form {
    background: $light-blue;
    color: white;
    padding: $su*1.5;
}

.contact__title {
    font-size:22px;
    text-align: center;
}

#contact-form__email {
    width: 100%;
    padding: 14px 4%;
    border-width: 0;
    border-radius: 3px;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    margin:$su auto;
}

.contact-form__submit {
    width:100%;
    padding: .3em 1em;
    font-size:20px;
    color:white;
    font-weight: 500;
    border:2px solid;
    border-radius: 3px;
    background:none;
    line-height:1.7em;
    transition:border-color 200ms ease-out, background-color 200ms ease-out;

    &:hover, &:active, &:focus {
        background-color:rgba(255,255,255,.2);
        border-color:transparent;
        cursor:pointer;
    }
}

section#prix {
    padding: 100px 0 0px 0;
}

.prix__block {
    border-top: 1px solid #e0e7ed;
}