h1, h2, h3 {
    margin-bottom:0.25em;
    line-height:1.25;
    padding-bottom: $su/2;
    margin-bottom:0;
}

h1 {
    font-size:2.2rem;
}

h2 {
    font-size:1.8rem;
}

h3 {
    font-size:1.4rem;
}

p, ul {
    margin-bottom:0.25em;
}

strong {
    font-weight:bold;
}